.habilidades {
    display: flex;
    height: 100%;
    padding: 20px;
    min-height: 100vh;
}

.contenedor-general {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    align-items: center;
    font-size: x-large;
}

h3 {
    color: #ccd6f6;
    position: relative;
    bottom: 2px;
}

.linea-titulo {
    width: 380px;
    background-color: var(--text-color);
    height: 1px;
    margin: 20px;
}
